<mat-toolbar class="app-navbar mat-elevation-z2">
  <div class="drawer-menu--container">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <span>GumuzUI</span>
  </div>
  <div class="toolbar-actions">
    <button mat-icon-button>
      <mat-icon class="mat-18" matBadge="3" matBadgeColor="accent">
        notifications
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="mat-18" matBadge="5" matBadgeColor="accent">
        chat
      </mat-icon>
    </button>
    <div matRipple class="profile gumuz-profile" [matMenuTriggerFor]="accountMenu"></div>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-container>
    <mat-sidenav #drawer mode="over">
      <mat-nav-list class="drawer-nav">
        <ng-container *ngFor="let page of pages">
          <a
            routerLinkActive="active"
            [routerLink]="page.path"
            mat-list-item
            (click)="drawer.close()"
            ><mat-icon class="mat-18">{{ page.iconName }}</mat-icon
            >{{ page.name }}</a
          >
        </ng-container>
        <mat-divider></mat-divider>
        <h3 class="title-divider">More</h3>
        <a
            routerLinkActive="active"
            [routerLink]="'/settings'"
            mat-list-item
            (click)="drawer.close()"
            ><mat-icon class="mat-18">settings</mat-icon
            >Settings</a
          >
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
