<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput [placeholder]="placeholder"
    [formControl]="fGroupName.controls[controlName]"
    [errorStateMatcher]="errorMatcher"
  />
  <mat-hint>{{ hint }}</mat-hint>
  <mat-error
    *ngIf="
      hasMinLength &&
      fGroupName.controls[controlName].hasError('minlength') &&
      !fGroupName.controls[controlName].hasError('required')
    "
  >
    {{ label }} should be at least {{ minLengthValue }} characters long
  </mat-error>
  <mat-error
    *ngIf="
      hasMinLength &&
      fGroupName.controls[controlName].hasError('maxlength') &&
      !fGroupName.controls[controlName].hasError('required')
    "
  >
    {{ label }} cannot exceed {{ maxLengthValue }} characters long
  </mat-error>
  <mat-error
    *ngIf="
      isEmail &&
      fGroupName.controls[controlName].hasError('email') &&
      !fGroupName.controls[controlName].hasError('required')
    "
  >
    Please enter a valid {{ label }} address
  </mat-error>
  <mat-error
    *ngIf="
      isRequired &&
      fGroupName.controls[controlName].touched &&
      fGroupName.controls[controlName].hasError('required')
    "
  >
    {{ label }} is required
  </mat-error>
</mat-form-field>
