<div class="col coupon-page">
  <div class="m-4">
    <button mat-raised-button (click)="openPDF()" color="accent">
      Print Coupon
    </button>
  </div>
  <div class="row coupon-wrapper" id="couponPage" #couponPage>
    <div class="coupon-container" *ngFor="let coupon of couponUsers">
      <div class="coupon-header">
        <div class="logo">
          <img
            src="../../../assets/img/habesha beer logo.png"
            alt="Habesha Breweries S.C"
          />
        </div>
        <div class="title">
          <h4>የሐበሻ ቢራ ፋብሪካ የሠራተኞች መመገቢያ ኩፖን</h4>
        </div>
      </div>
      <table class="coupon-detail">
        <tr>
          <td>Card No:</td>
          <td class="bold">00001</td>
        </tr>
        <tr>
          <td>Cost Center:</td>
          <td class="bold">IT0001</td>
        </tr>
        <tr>
          <td>Sign:</td>
          <td class="signature"></td>
        </tr>
        <tr>
          <td>Month:</td>
          <td class="bold">Septemeber 2020</td>
        </tr>
      </table>
    </div>
  </div>
</div>
