<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="50"
    alt="Angular Logo"
    src="../../../assets/img/habesha beer logo.png"
  />
  <div class="spacer"></div>
</div>

<div class="content-wrapper">
  <div class="content" role="main">
    <div class="section">
      <div class="hero">
        <h1>Annual General Assembly Meeting</h1>
      </div>
      <div class="section-divider"></div>
      <div class="menu-content">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="card-image"></div>
            <mat-card-title>Administrator</mat-card-title>
            <mat-card-subtitle>Meeting and Polls Dashboard</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="card-image"></div>
            <mat-card-title>Meeting</mat-card-title>
            <mat-card-subtitle>Want to add stakeholder to the meeting?</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="card-image"></div>
            <mat-card-title>Polls</mat-card-title>
            <mat-card-subtitle>Vote for candidates</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      Have a problem?&nbsp;
      <a
        href="https://github.com/angular/angular"
        target="_blank"
        rel="noopener"
      >
        Contact the administrators.
      </a>
    </footer>
  </div>
</div>
